.DS_Store
.idea
*.tgz

.yarn/*
!.yarn/releases
!.yarn/plugins

*.log*
*.swp
*.local
*.iml
*~
.env
.nuxt
.cache
.nitro
.output

dist
temp
coverage
node_modules

*/**/yarn.lock
/.yarn

package-lock.json
test/setup/context.json
