.DS_Store
.idea
.vscode
*.tgz

.yarn/*
!.yarn/releases
!.yarn/plugins

*.log*
*.swp
*.local
*.iml
*~
.env
.nuxt
.cache
.nitro
.output

dist
temp
coverage
node_modules

package-lock.json
test/setup/context.json
