---
name: CI

on:
  push:
    branches:
      - next
      - chore/release-edge
  pull_request:
    branches:
      - next

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CI: true
    strategy:
      matrix:
        node-version: [14.16, 16.11, 17]
    name: Use Node.js ${{ matrix.node-version }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - name: yarn install
        run: yarn --immutable
      - name: Linting
        # Only test on one version to avoid duplicate linter annotations.
        if: ${{ matrix.node-version == '16.11' }}
        run: yarn lint
      - name: Building
        run: yarn workspace @nuxtjs/i18n build
      - name: Testing
        run: yarn test
  edge-release:
    needs:
      - build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [14]
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: 'yarn'
      - name: yarn install
        run: yarn --immutable
      - name: Building
        run: yarn workspace @nuxtjs/i18n build
      - name: Release Edge
        if: |
          github.event_name == 'push' &&
          !contains(github.event.head_commit.message, '[skip-release]') &&
          !contains(github.event.head_commit.message, 'chore') &&
          !contains(github.event.head_commit.message, 'docs')
        run: ./scripts/release-edge.sh
        env:
          NODE_AUTH_TOKEN: ${{secrets.NODE_AUTH_TOKEN}}
