name: nightly release

permissions: {}

on:
  push:
    branches:
      - '**'
    tags:
      - '!**'
  pull_request:
    types: [opened, synchronize, labeled]
    branches: [main]
    paths-ignore:
      - 'docs/**'
      - 'test/**'
      - 'specs/**'
      - 'playground/**'

jobs:
  release:
    if: ${{ contains(github.event.pull_request.labels.*.name, 'cr-tracked') }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm build

      - name: Release with pkg-pr-new
        run: pnpx pkg-pr-new publish --compact --no-template --pnpm
